.all-articles-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  padding: 2rem;
}
.all-articles-article-card {
  display: flex;
  flex-direction: column;
  background: #f5f5f5;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}
.all-articles-article-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.all-articles-article-link {
  text-decoration: none;
  color: inherit;
}
.all-articles-article-link h2 {
  font-size: 1.5rem;
  padding: 1rem;
}
.all-articles-article-link p {
  margin: 0;
  line-height: 1.5;
  margin: 1rem;
}
.all-articles-article-category {
  background-color: #ffc93c;
  display: inline-flex;
  padding: 8px;
  border-radius: 30px;
}
@media (max-width: 1024px) {
  .all-articles-all-articles-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .all-articles-all-articles-container {
    grid-template-columns: 1fr;
  }
}
