* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "main-font";
  color: rgb(5, 5, 5);
}

html {
  background-color: #f5f5f5;
}

#root {
  background-color: var(--primary-background-color);

  --primary-background-color: rgb(245, 245, 245);
  --secondary-background-color: //;;
  --heading-color: #cf2839;
  --secondary-color: //;;
}
@font-face {
  font-family: "main-font";
  src: url("./assets/fonts/poppins/poppins.ttf");
}
@font-face {
  font-family: "heading-font";
  src: url("./assets/fonts/Giaza/Giaza.otf");
}
.hover-underline {
  position: relative;
}
.hover-underline::after {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  bottom: -4px;
  left: 0;
  transition: width 0.3s ease-in-out;
}
.hover-underline:hover::after {
  width: 100%;
}
/* Variantes de couleurs */
.hover-underline--red::after {
  background-color: #ff6b6b;
}
.hover-underline--blue::after {
  background-color: #4ecdc4;
}
.hover-underline--green::after {
  background-color: #45d182;
}
.hover-underline--yellow::after {
  background-color: #ffc93c;
}
.loading,
.error {
  text-align: center;
  padding: 40px;
  font-size: 18px;
}
.error {
  color: #dc3545;
}
